<home-component></home-component>
<!-- 

<div *ngIf="obj.length > 0 ; then Country else NoCountry"></div>

    <ng-template #Country>
        <ul *ngFor="let key of obj; trackBy : myTrackBy">
            <li>{{key.country}}</li>
            <ul *ngFor = "let value of key.cities">
                <li>{{value.name}}</li>

            </ul>
        </ul>
    </ng-template>

    <ng-template #NoCountry>
        <h3>No Country</h3>
    </ng-template> -->
<!-- <button (click)="MyWeb('Front')"> Show Front Courses </button>
<button (click)="MyWeb('Back')"> Show Back Courses </button> 

<div [ngSwitch]="Web">
    <div *ngSwitchCase="'Front'">
        <ul *ngFor="let key of WebSort; trackBy:myTrackBy">
            <ul *ngFor="let value of key.Front">
                <li>{{value.name}}</li>
            </ul>
        </ul>
    </div>
    <div *ngSwitchCase="'Back'">
        <ul *ngFor="let key of WebSort;trackBy : myTrackBy">
            <ul *ngFor="let value of key.Back">
            <li>{{value.name}}</li>

            </ul>

        </ul>
    </div>
    <div [ngstyle]=
    "
    {
        
    }
    ">

    </div>


 </div> -->



<!-- <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" ngModel =  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="passwordM class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->